@model (User User, IList<(Post, int)> Posts)
@{
    ViewData["Title"] = "First Query";
}

<h2 class="my-5 text-center">User Posts And Comments Count</h2>

<div class="row">
  <div class="d-flex flex-column">
    @await Html.PartialAsync("_UserCard",
      (@Model.User, "Details", "User", "Details")
    )
  </div>
  <div class="col-lg">
    @if(Model.Posts == null || Model.Posts.Count == 0) {
      <span>User has no posts</span>
    } else {
      @foreach(var post in Model.Posts) {
        @await Html.PartialAsync("_PostCard", (post.Item1, "Details", "Post", "Details"))
      }
    }

    
  </div>
</div>

